<div class="container-fluid">
    <div class="row">
        <div class="sidebar-prg col-5 col-md-2">
            <h3 class="sb-title">
                Sys Cafeteria
            </h3>
            <ul class="sb-group mt-3" style="text-decoration: none;">
                <li class="sd-item" [routerLink]="['/home']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    Comandas
                    <div class="float-right" style="width: 28px; text-align: center;">
                        <i class="fas fa-coffee fa-lg"></i>
                    </div>
                </li>
                <li class="sd-item" [routerLink]="['/catalogos']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    Catalogos
                    <div class="float-right" style="width: 28px; text-align: center;">
                        <i class="fab fa-elementor fa-lg"></i>
                    </div>
                </li>
                <!-- <li class="sd-item" [routerLink]="['/home']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    Reportes
                    <div class="float-right" style="width: 28px; text-align: center;">
                        <i class="far fa-file fa-lg"></i>
                    </div>
                </li>
                <li class="sd-item" [routerLink]="['/proveedores']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    Proveedores
                    <div class="float-right" style="width: 28px; text-align: center;">
                        <i class="fas fa-truck-moving fa-lg"></i>
                    </div>
                </li> -->
            </ul>
        </div>
        <div class="offset-2 col-7 col-md-10 mt-3">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>