<div class="card col-12">
    <div class="card-body">
        <div class="row">
            <div class="col-5">
                <h5 class="card-title">Crear nuevo usuario</h5>
            </div>
        </div>
        <hr>
        <div *ngIf="!usuarioForm.valid && submitted" class="alert alert-danger alert-dismissible fade show" role="alert">
            Debes de completar todos los campos del formulario
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form [formGroup]="usuarioForm" (submit)="crearUsuario()">
            <div class="mb-3">
                <label class="form-label">* Usuario</label>
                <input formControlName="username" type="text" class="form-control" placeholder="Escribe tu usuario">
            </div>
            <div class="mb-3">
                <label class="form-label">* Nombre</label>
                <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre completo">
            </div>
            <div class="mb-3">
                <label class="form-label">* Role</label>
                <select formControlName="rol" class="form-control">
                    <option selected value="USER_ROLE">USER_ROLE</option>
                    <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">* Contraseña ( mínimo 8 caracteres )</label>
                <input formControlName="password" type="password" class="form-control" placeholder="contraseña">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!usuarioForm.valid">Guardar</button>
        </form>
    </div>
</div>