<div class="card col-12">
    <div class="card-body">
        <div class="row">
            <div class="col-5">
                <h5 class="card-title">Crear nuevo usuario</h5>
            </div>
        </div>
        <hr>
            <form>
                <div class="mb-3">
                    <label class="form-label">Usuario</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Nombre completo</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Password</label>
                    <input type="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
    </div>
</div>